// Custom sass ..
$lightBlue: blue;
$dark: #333;
$flydomesticBlack: rgb(38, 38, 38);
$flydomesticWhite: rgb(238, 238, 238);

%poppins-light {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
%poppins-light-bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
%poppins-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: $flydomesticBlack;
	color: $flydomesticWhite;
	overflow-y: hidden;
}
h1, p {
	padding: 0;
	margin: 0;
}


// START - Loading Page -------------------------------------------------
.loading-page {
	height: 100vh;
	width: 100vw;
	text-align: center;
}
.loading-text {
	@extend %poppins-light;
	padding-top: 80%;
	h1 {
		letter-spacing: .2rem;
	}
}
// END - Loading Page ---------------------------------------------------

// START - Location Page ------------------------------------------------
.location-card {
	height: 24%;
	width: 94%;
	margin: 5% 0 0 3%;
	background-color: $flydomesticWhite;
	color: $flydomesticBlack;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		@extend %poppins-light;
		font-size: 1.5rem;
		letter-spacing: .6rem;
		text-transform: uppercase;
		margin-left: 3%;
	}
}
// END - Location Page --------------------------------------------------



// START - Info Page ----------------------------------------------------
.info-page {
	height: 100%;
	width: 100%;
}
#logo {
	@extend %poppins-medium;
	letter-spacing: .2rem;
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 999;
}
#filterIcon {
	position: absolute;
	font-size: 1.2rem;
	top: 14px;
	right: 17px;
	z-index: 999;
	color: $flydomesticBlack;
}
#backIcon {
	position: absolute;
	font-size: 1.2rem;
	top: 18px;
	right: 17px;
	z-index: 999;
	color: $flydomesticBlack;
}

.input-container {
	// background-color: purple;
	height: 50%;
	padding: 25% 0 0 10%;
}
.info-input {
	background-color: $flydomesticBlack;
	width: 87%;
	margin-top: 15%;
	box-shadow: 0;
	border: 0;
	border-bottom: 5px solid $flydomesticWhite;
	padding: 3% 0 2% 2%;

}
.info-input::placeholder {
		color: $flydomesticWhite;
		@extend %poppins-light;
		font-size: 1rem;
		letter-spacing: .2rem;
		padding-bottom: 1%;
	}
// END - Info Page ------------------------------------------------------

// START - Next and Skip Button ----------------------------------------

#next {
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 150px;
	border: none;
	text-transform: uppercase;
	@extend %poppins-medium;
	font-size: 1rem;
	letter-spacing: .5rem;
}
#next-text {
	padding-left: 5%;
}

#skip {
	position: absolute;
	background-color: $flydomesticBlack;
	color: $flydomesticWhite;
	border: none;
	bottom: 20px;
	left: 20px;
	height: 50px;
	width: 150px;
	text-transform: uppercase;
	@extend %poppins-light;
	font-size: .7rem;
	letter-spacing: .5rem;
}
#skip-text {
	padding-left: 5%;
}
// END - Next and Skip Button -------------------------------------------


// START - Page Styling -------------------------------------------------
.page-container {
	height: 100%;
	width: 100%;
}
.page-heading {
	// background-color: purple;
	width: 100%;
	height: 10%;
	margin-top: 20%;
	text-align: center;
	h1 {
		@extend %poppins-medium;
	}
}
.page-img {
	height: 50%;
	margin: 0 5% 0 5%;
	background-color: $flydomesticWhite;
}
.page-counter {
	@extend %poppins-medium;
	font-size: 4rem;
	// background-color: purple;
	margin-top: 11%;
	text-align: center;
	span {
		margin: 0 5% 0 5%;
	}
}
// END - Page Styling --------------------------------------------------
// START - Map Styles --------------------------------------------------

.map-page {
	width: 100%;
	height: 100vh;
	background-color: turquoise;
}
#map {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: $flydomesticWhite;
}

.acc-card {
	height: 20vh;
	width: 90%;
	background-color: $flydomesticBlack;
	color: $flydomesticWhite;
	position: absolute;
	z-index: 998;
	bottom: 5%;
	left: 5%;
	display: flex;
}
.acc-card-img {
	background-color: $flydomesticWhite;
	height: 18vh;
	width: 45%;
	margin: 2.2%;
}
.card-expand {
	animation-name: cardExpand;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
.card-collapse {
	animation-name: cardCollapse;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

@keyframes cardExpand {
	from {
		height: 20vh;
		width: 90%;
		bottom: 2.5%;
		left: 5%}
	to {
		height: 93vh;
		width: 100vw;
		bottom: 0;
		left: 0}
}
@keyframes cardCollapse {
	from {
		height: 93vh;
		width: 100vw;
		bottom: 0;
		left: 0}
	to {
		height: 20vh;
		width: 90%;
		bottom: 5%;
		left: 5%}
}

.filter-container {
	// height: 0vh;
	width: 100%;
	position: absolute;
	z-index: 997;
	top: -38vh;
	font-size: 1.2rem;
	@extend %poppins-light;
	color: rgb(38, 38, 38);
	background-color: $flydomesticWhite;
	box-shadow: 0px 5px 15px rgb(207, 207, 207);
	table {
		padding-top: 10%;
		width: 100%;
		text-align: center;
	}
	td {
		padding-top: 10%;
	}
}
.data-input {
	width: 50%;
}
.filter-input {
	font-size: 1rem;
	width: 5%;
	background-color: turquoise;
	color: black;
}
.price-input {
	width: 18%;
	margin-left: 2%;
}
.filter-input {
	background-color: inherit;
	color: black;
	border: none;
	@extend %poppins-light;

}
#filterExit {
	position: absolute;
	font-size: 1.2rem;
	top: 15px;
	right: 19px;
	z-index: 999;
	color: $flydomesticBlack;
}
.show-filter {
	animation-name: showFilter;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
@keyframes showFilter {
	from {
		top: -37vh;
		// color: rgba(38, 38, 38, 0);
	}
	to {
		top: 0vh
		// color: rgba(38, 38, 38, 1);
	}
}
.hide-filter {
	animation-name: hideFilter;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
@keyframes hideFilter {
	from {
		top: 0vh;
		// color: rgba(38, 38, 38, 1);
	}
	to {
		top: -37vh;
		// color: rgba(38, 38, 38, 0);

	}

}
// END - Map Styles ----------------------------------------------------
