// Custom css
$lightBlue: blue;
$dark: #333;
$flydomesticBlack: rgb(38, 38, 38);
$flydomesticWhite: rgb(238, 238, 238);

%poppins-light {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
%poppins-light-bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
%poppins-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
%poppins-bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
// END Custom Css

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: $flydomesticBlack;
	color: $flydomesticWhite;
	overflow-y: hidden;
	overflow-x: hidden;
}
h1, h2, h3, h4, h4, p {
	margin: 0;
	padding: 0;
}

// START - Loading Page -------------------------------------------------
.loading-page {
	height: 100vh;
	width: 100vw;
	text-align: center;
}
.loading-text {
	@extend %poppins-light;
	padding-top: 80%;
	h1 {
		letter-spacing: .2rem;
	}
}
// END - Loading Page ---------------------------------------------------

// START - Location Page ------------------------------------------------
.location-card {
	height: 24%;
	width: 94%;
	margin: 5% 0 0 3%;
	background-color: $flydomesticWhite;
	color: $flydomesticBlack;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		@extend %poppins-light;
		font-size: 1.5rem;
		letter-spacing: .6rem;
		text-transform: uppercase;
		margin-left: 3%;
	}
}
// END - Location Page --------------------------------------------------

// START - Info Page ----------------------------------------------------
.info-page {
	height: 100%;
	width: 100%;
}
#logo {
	@extend %poppins-medium;
	letter-spacing: .2rem;
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 999;
}
#filterIcon {
	position: absolute;
	font-size: 1.2rem;
	top: 14px;
	right: 17px;
	z-index: 999;
	color: $flydomesticBlack;
}
#backIcon {
	position: absolute;
	font-size: 1.2rem;
	top: 18px;
	right: 17px;
	z-index: 999;
	color: $flydomesticBlack;
}

.input-container {
	height: 50%;
	padding: 25% 0 0 10%;
}
.info-input {
	background-color: $flydomesticBlack;
	width: 87%;
	margin-top: 15%;
	box-shadow: none;
	border: 0;
	border-bottom: 5px solid $flydomesticWhite;
	padding: 3% 0 2% 2%;
	color: $flydomesticWhite;
}
.info-input::placeholder {
		color: $flydomesticWhite;
		@extend %poppins-light;
		font-size: 1rem;
		letter-spacing: .2rem;
		padding-bottom: 1%;
	}
.info-input:focus {
	// outline-width: .2;
	outline-color: $flydomesticWhite;
	color: white;
}


// Parsley css style overrides
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
		border-color:#843534;
		box-shadow: none;
}
input.parsley-error:focus,
select.parsley-error:focus,
textarea.parsley-error:focus {
		border-color:#ad3131;
		box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}
.parsley-required {
	color: #ad3131;
	list-style: none;
	@extend %poppins-light;
}
.parsley-errors-list  {
	padding: 0;
	margin: 5% 0 0 0;
}
.parsley-type,
.parsley-pattern {
	display: none;
}
// END - Info Page -------------------------------------------------------------

// START - Next and Skip Button ------------------------------------------------
.next-page-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 150px;
	border: none;
	text-transform: uppercase;
	@extend %poppins-medium;
	font-size: 1rem;
	letter-spacing: .5rem;
}
.next-text {
	padding-left: 5%;
}

#skip {
	position: absolute;
	background-color: $flydomesticBlack;
	color: $flydomesticWhite;
	border: none;
	bottom: 20px;
	left: 20px;
	height: 50px;
	width: 150px;
	text-transform: uppercase;
	@extend %poppins-light;
	font-size: .7rem;
	letter-spacing: .5rem;
}
#skip-text {
	padding-left: 5%;
}
// END - Next and Skip Button -------------------------------------------


// START - Counter Page Styling ------------------------------------------------
.page-container {
	height: 100%;
	width: 100%;
}
.page-heading {
	width: 100%;
	height: 10%;
	margin-top: 20%;
	text-align: center;
	h1 {
		@extend %poppins-medium;
	}
}
.page-img {
	height: 50%;
	margin: 0 5% 0 5%;
}
.page-counter {
	@extend %poppins-medium;
	font-size: 4rem;
	margin-top: 11%;
	text-align: center;
	span {
		margin: 0 5% 0 5%;
	}
}
.night-img {
	background-image: url('images/shortNights.png');
	height: 50%;
}
.people-img {
	background-image: url('images/onePerson.png');
	height: 50%;
}
// END - Counter Page Styling --------------------------------------------------

// START - Map Styles --------------------------------------------------
.map-page {
	width: 100%;
	height: 100vh;
}
#map {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: $flydomesticWhite;
}
.acc-card {
	height: 20vh;
	width: 90%;
	background-color: $flydomesticBlack;
	color: $flydomesticWhite;
	position: absolute;
	z-index: 995;
	bottom: 5%;
	left: 5%;
	display: none;
	flex-wrap: wrap;
}
.acc-card-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 18vh;
	width: 45%;
	margin: 2.2%;
}
.enlargeImg {
	animation-name: enlargeImg;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
@keyframes enlargeImg {
	from {
		height: 18vh;
		width: 45%;
	}
	to {
		height: 25vh;
		width: 100%;
	}
}
.shrinkImg {
	animation-name: shrinkImg;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
@keyframes shrinkImg {
	from {
		height: 25vh;
		width: 100%;
	}
	to {
		height: 18vh;
		width: 45%;
	}
}
.acc-info {
	margin: 0;
	width: 50%;
	height: 100%;
	font-size: .9rem;
	@extend %poppins-light;
	h1, p {
		margin: 6% 0 0 0;
	}
}
.acc-description {
	padding: 5% 0 10% 0;
	font-size: .59rem;
}
.acc-meals {
	@extend %poppins-medium;
	font-size: 1.5rem;
}
#letsBookBtn {
	@extend %poppins-light-bold;
	position: absolute;
	bottom: 2%;
	left: 5%;
	border: none;
	width: 90%;
	height: 5vh;
	font-size: 1rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
}
.acc-full-details {
	font-size: .5rem;
	h3 {
		@extend %poppins-light;
		text-transform: uppercase;
		font-size: .8rem;
		letter-spacing: .5rem;
	}
}
.show-full-detail {
	animation-name: showFullDetail;
 	animation-duration: .5s;
 	animation-timing-function: ease;
 	animation-fill-mode: both;
}
.expand-info-cont {
	animation-name: expandInfoCont;
 	animation-duration: .5s;
 	animation-timing-function: ease;
 	animation-fill-mode: both;
}
@keyframes expandInfoCont {
	from {
		margin: 0;
		width: 50%;
	}
	to {
		margin: 0 7% 0 7%;
		width: 100%;
	}
}
.card-expand {
	animation-name: cardExpand;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
@keyframes cardExpand {
	from {
		height: 20vh;
		width: 90%;
		bottom: 2.5%;
		left: 5%}
	to {
		height: 93vh;
		width: 100vw;
		bottom: 0;
		left: 0
	}
}
.card-collapse {
	animation-name: cardCollapse;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
@keyframes cardCollapse {
	from {
		height: 93vh;
		width: 100vw;
		bottom: 0;
		left: 0
	}
	to {
		height: 20vh;
		width: 90%;
		bottom: 5%;
		left: 5%
	}
}

// START Filter Content Styles -------------------------------------------------
.filter-container {
	// height: 0vh;
	width: 100%;
	position: absolute;
	z-index: 997;
	top: -50vh;
	font-size: 1.2rem;
	@extend %poppins-light;
	color: rgb(38, 38, 38);
	background-color: $flydomesticWhite;
	box-shadow: 0px 5px 15px rgb(207, 207, 207);
	table {
		width: 100%;
		margin: 12% 0 0 14%;
	}
	td {
		padding: 5%;
	}
}
.show-filter {
	animation-name: showFilter;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
@keyframes showFilter {
	from {
		top: -50vh;
	}
	to {
		top: 0vh
	}
}
.hide-filter {
	animation-name: hideFilter;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
@keyframes hideFilter {
	from {
		top: 0vh;
	}
	to {
		top: -50vh;
	}
}
#filterExit {
	position: absolute;
	font-size: 1.2rem;
	top: 15px;
	right: 19px;
	z-index: 999;
	color: $flydomesticBlack;
}
.data-input {
	width: 50%;
}
.filter-input {
	font-size: 1rem;
	width: 10%;
	background-color: inherit;
	color: black;
	border: none none solid none;
	border-bottom: 1px solid $flydomesticBlack;
	@extend %poppins-light;
}
.price-input {
	width: 20%;
	margin-left: 2%;
}
#searchBtn {
	background-color: $flydomesticBlack;
	border: none;
	@extend %poppins-light;
	color: $flydomesticWhite;
	text-transform: uppercase;
	padding: 2% 26% 2% 28%;
	margin: 2% 0 0% 12%;
	letter-spacing: .3rem;
	// margin: 3% 0 5% 30%;
}
#showAllBtn {
	border: none;
	@extend %poppins-light;
	color: $flydomesticBlack;
	text-transform: uppercase;
	padding: 2% 10% 2% 10%;
	margin: 2% 0 5% 22%;
	letter-spacing: .6rem;
}
// END Filter Content Styles ---------------------------------------------------

// START Booking Content Styles ------------------------------------------------
.booking-summ-cont {
	margin: 15% 0 0 5%;
	height: 100%;
	width: 90%;
	display: none;
	h3 {
		@extend %poppins-light;
		text-transform: uppercase;
		font-size: .7rem;
		letter-spacing: .3rem;
		margin-top: 7%;
	}
	h2 {
		@extend %poppins-medium;
		font-size: 1.5rem;
	}
	h4 {
		@extend %poppins-medium;
		font-size: 2rem;
	}
	h5 {
		@extend %poppins-light;
		margin-top: 11%;
		font-size: .675rem;
		text-transform: uppercase;
	}
	table {
		@extend %poppins-light;
		width: 100%;
		margin: 10% 0 0 0;
	}
	td {
		margin: 0;
		padding: 0;
	}
}
#cancelBooking {
	position: absolute;
	font-size: 1.2rem;
	top: 18px;
	right: 17px;
	z-index: 999;
	color: $flydomesticWhite;
}
.final-nights,
.final-people {
	@extend %poppins-medium;
	font-size: 1.5rem;
}
.accommodation {
	height: 20%;
	// background-color: rgb(80, 33, 102);
	width: 100%;
}
.acc-text {
	float: left;
	color: $flydomesticWhite;
	h1 {
		margin-top: 25%;
		@extend %poppins-medium;
	}
	p {
		@extend %poppins-light;
	}
}
.acc-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	float: right;
	height: 100%;
	width: 45%;
}
#book {
	@extend %poppins-light-bold;
	position: absolute;
	bottom: 5%;
	left: 5%;
	border: none;
	width: 90%;
	height: 8vh;
	font-size: 1rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
}
.terms-and-conditions {
	position: absolute;
	bottom: 1.2%;
	left: 20%;
}
// END Booking Content Styles --------------------------------------------------




// START Thank You Page --------------------------------------------------------
.thank-you-page {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100%;
}
#thankYouExit {
	position: absolute;
	font-size: 1.2rem;
	top: 15px;
	right: 19px;
	z-index: 999;
	color: $flydomesticWhite;
}
.thank-you-text {
	margin-top: 70%;
	h2 {
		font-size: 1.1rem;
		letter-spacing: .2rem;
		text-transform:uppercase;
		@extend %poppins-light;
	}
	h1 {
		font-size: 2.2rem;
		@extend %poppins-bold;
		letter-spacing: .3rem;
	}
}
.extra-info {
	margin: 80% 6% 0 6%;
	@extend %poppins-light;
}
.alert-box {
	background-color: rgb(187, 68, 68);
	border-radius: 5px;
	height: 36%;
	width: 85%;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 7%;
	z-index: 999;
	h1 {
		margin: 5% 5% 0 5%;
		font-size: 1rem;
		@extend %poppins-medium;
		color: $flydomesticWhite;
	}
}
// END Thank You Page ----------------------------------------------------------

// .alert-box-img {
// 	background-image: url('images/infoValidInput.png');
// 	background-position: top;
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	margin: 5% 5% 0 5%;
// 	height: 70%;
// }
// .close-alert {
// 	font-size: 1rem;
// 	color: $flydomesticWhite;
// 	position: absolute;
// 	top: 10px;
// 	right: 10px;
// }

// END of CSS
